$chip-avatar-background : rgba(0, 0, 0, 0.12);
$chip-avatar-background-darken : rgba(0, 0, 0, 0.35);
$chip-active : #ff3535;
$transparent-background : transparent;
$default-REM : 1.8rem;
// toolbox

%flex {
  display : flex;
}
%divider {
  margin-left : -$default-REM;
  margin-right : -$default-REM;
  margin-top : $default-REM;
  height: 2px;
}
.kmc {
  padding: $default-REM;
  &--divider {
    @extend %divider;
    background: $chip-avatar-background;
  }
  &_header {
    @extend %flex;
    flex-direction: row;
    //justify-content: space-between;

    &--chip {
      background: $transparent-background;
      width : calc(100% / 5);
      display: inline-block;
      position: relative;
      vertical-align: middle;
      margin-left : $default-REM/2;
      &:first-child {
        margin-left : 0;
      }
      &--line::after {
        content : '';
        display: inline-block;
        width: 100%;
        margin-left : $default-REM/2;
        height: 2px;
        background: $chip-avatar-background;
        vertical-align: middle;
      }

      &--avatar {
        display: inline-block !important;
        background: $chip-avatar-background-darken;
        font-size : $default-REM;
        &--active {
          background :$chip-active;
        }
      }
    }


  }

  &_photoBUtton {

    &--icon {
      color: $chip-avatar-background-darken;
      font-size: $default-REM * 2;
      margin-top: -$default-REM + .2;
    }
  }

  &_form {

    &--input {

    }
  }

//  421
  &--card {
    & >div > h5 {
      font-size : $default-REM !important;
      color : red;
    }
    &--title {
      //flex-direction: column;
      justify-content: center;
    }
    &--media {
      &--logo {
        width: 200px;
        height: auto;
        display: block;
        margin: 3.6rem auto;

        &_org {
          width: 170px;
          height: 170px;
          margin : $default-REM * 2 auto;
        }
      }
    }

  //  420
    &--group {
      &:last-child {
        padding : 2rem 1.6rem 1.4rem;
      }
      flex : 1;

      h5 {
        font-size : $default-REM * 2;
      }
      p {
        font-size : $default-REM;
      }
    }
  }
}
