$default-REM : 1.8rem;

%textFieldsStyles {
  width: 40%;
  float : left;
  margin-right: 5%;
}

.profileUsers {
  background : rgba(128, 0, 255, 0.77);
  color : #fff;
  position: relative;

  &--create_buttons_block {
    position: absolute;
    right: $default-REM;
    top : $default-REM /2;
  }
  &--create {
    width: 40px;
    height: 40px;
    background: transparent !important;
    box-shadow: none;
    color: #fff !important;

    margin-left : $default-REM ;
  }

  &--card_title {
    @extend %textFieldsStyles;
    & > div {
      width: 100%;
      & > h5 {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &--card_input {
    @extend %textFieldsStyles;
  }
  &--card_edit {
  }
  &----input--title_edit {
    float: left;
  }
  &--avatar_edit {
    position: relative;
    background: transparent !important;
    z-index : 99;
    font-size : 1rem;
      &:before {
        content : '';
        position: absolute;
        top: 0;
        left : 0;
        bottom : 0;
        right : 0;
        background: rgba(0,0,0,.5);
        z-index : 1;

      }

    & > span {
      position: absolute;
      top: 25%;
      left: 25%;
    }
    & > img {
      display: block;
      width : 100%;
      height: auto;
      position: relative;
      &::before{
        content : '';
        position: absolute;
        display : block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7);
      }
    }

  }
}
